.homeHero {
  background-color: var(--primary-color);
  max-height: fit-content;
  width: 93vw !important;
  position: relative;
  border-radius: 50px 50px 0 50px;
  margin-top: 30px;

  p {
    width: fit-content;
    padding: 0.7em 1.2em;
  }

  .HeroBtn {
    background-color: #f98600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    padding: 10px;
    background-color: var(--primary-color);
    border: none;
    font-weight: bold;
  }

  .heroShape1 {
    width: 150px;
    bottom: -30px;
  }

  .heroShape2 {
    width: 400px;
  }

  .leftHero {
    top: 100px;
  }

  .textGroup {
    display: flex;
    flex-direction: column;
  }

  .check-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    white-space: nowrap;
  }

  .HeroImg {
    width: 340px;
    right: -100px !important;
  }

  .HeroSolution {
    left: -54px;
    bottom: 299px;
  }

  .HeroTechnology {
    right: -14px;
    top: 262px;
  }

  .BsSendRight {
    top: -10px !important;
    right: -45px !important;
  }

  .BsSendLeft {
    top: -8px !important;
    left: 39px !important;
    transform: rotate(257deg);
  }

  .Reviews {
    background-color: hsla(0, 0%, 100%, 0.187);
    border: 1px solid #5a69ff !important;
    border-radius: 15px 15px 0 0;
    width: 90%;
    max-height: fit-content;
    align-self: center;

    .Trustpilot {
      border-right: 2px solid #828eff;
    }
  }
}

@media (max-width: 992px) {
  .homeHero {
    width: 100vw !important;
    border-radius: 0;
  }

  .Trustpilot {
    border-right: 0 !important;
    border-bottom: 1px solid #dee2e6;
  }

  .HeroImg {
    justify-self: center;
    left: 0;
  }

  .textGroup {
    height: fit-content;
    width: 100px;
    flex-direction: row;
  }

  .check-item {
    font-size: 1rem;
  }
}
@media (max-width: 1112px) {
.HeroSolution, .HeroTechnology {
  display: none !important;
}
}